* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    background-image: url("../assets/coding.png");
    margin: 15pt;
    
}

.header {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #000000;
    color: #000000;
    padding: 10pt;
    border: 5px rgb(247, 230, 1) solid;
}

.header h1 {
    display: flex;
    justify-content: center;
    font-size: 48px;
    border: 5px #061dec solid;
    padding: 10px;
    background-color: rgb(247, 230, 1);
    
}

.header nav {
    display: inline-block;
    position: relative;
    left: 400px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #1c04a5;
    border: 5px rgb(247, 230, 1) solid;
    
    
    
}

.header nav ul {
    list-style-type: none;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    
    
}

.header nav ul li {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    border: 2px rgb(247, 230, 1) solid;
    padding: 7px;
}

.header a {
    color: #ffffff;
    text-decoration: none;
}

.About-Me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, s background-color: #000000;
    color: #000000;
    padding: 10pt;
    border: 5px rgb(247, 230, 1) solid;
    background-color: black
}

.About-Me h2 {
    color: black;
    border: 4px #061dec solid;
    text-align: center;
    font-size: 25px;
    margin: 0px 0px 10px 0px;
    padding: 5px;
    background-color: rgb(247, 230, 1);
    
}

.About-Me p {
    text-align: center;
    padding: 5px;
    border: 3px rgb(247, 230, 1) solid;
    font-size: 25px;
    color: #ffffff;
    background-color: #000000;
}


.hero {
    display: flex;  
    justify-content: end;  
    align-items: end;
    height: 550px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/ME.png");
    background-size: cover;
    background-position: center;
    border-style: solid;
    border: 0px 5px 5px 5px;
    color: rgb(247, 230, 1);
}

.hero h2{
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    background: #000000;
    border: 5px rgb(247, 230, 1) solid;
    margin: 15px;
    padding: 10px;
}

#ongoing-project {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 450px;
    width: 100%;
    margin: 15px 0px 15px 0px;
    background-image: url("../assets/alps.png");
    background-size: cover;
    background-position: center;
    border-style: solid;
    border: 5px rgb(247, 230, 1) solid;
}

#ongoing-project h3 {
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    background: #000000;
    border: 5px rgb(247, 230, 1) solid;
    margin: 15px;
    padding: 10px;
}

#first-project {
        display: flex;
        justify-content: end;
        align-items: end;
        height: 450px;
        width: 100%;
        margin: 15px 0px 15px 0px;
        background-image: url("../assets/Web capture_2-5-2023_224140_127.0.0.1.png");
        background-position: center;
        background-clip: border-box;
        border-style: solid;
        border: 5px rgb(247, 230, 1) solid;
}

